@use "../../styles/mixins.scss" as color;

@mixin arrow($direction, $right: 28%) {
  content: "";
  position: absolute;
  right: $right;
  top: 50%;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  @if $direction == "up" {
    border-top: 5px solid white;
    transform: translateY(-50%) translateY(4px);
  } @else if $direction == "down" {
    border-bottom: 5px solid white;
    transform: translateY(-50%) translateY(-4px);
  }
}

.inner {
  background-color: rgb(6, 30, 54);
}

.innerHeader {
  position: relative;
  color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 25% 30% 45%;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 80px;
  background-color: color.$background-color;
}

.champ-wrapper {
  color: color.$main-color;
  margin: 20px;
  display: grid;
  grid-template-columns: 25% 30% 45%;
  justify-content: center;
  align-items: center;
  :nth-child(2) {
    margin-right: 10px;
  }
}

.champ {
  margin-left: 15px;
  display: flex;
  text-decoration: none;
  color: color.$main-color;
  img {
    max-width: 80px;
    max-height: 80px;
  }
  &__name {
    margin: auto auto;
    margin-left: 10px;
    font-size: 16px;
  }
  &__class {
    display: flex;
    justify-content: space-around;
    img {
      max-height: 30px;
      max-width: 30px;
      margin: 8px;
    }
    display: flex;
    align-items: center;
    &_descr {
      margin-left: 0px;
    }
  }
}

.skins-header {
  user-select: none;
  display: flex;
  justify-content: center;
}

.skins {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 14px;
  &__skin {
    display: flex;
    align-items: center;
    margin: 0px 5px 0px 10px;
    img {
      margin-right: 5px;
      max-width: 25px;
      max-height: 25px;
    }
  }
}

.devider {
  display: block;
  height: 1px;
  max-width: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 0.3;
}

.sortable {
  user-select: none;
  display: flex;
  justify-content: center;

  cursor: pointer;
  position: relative;
  padding: 20px;
  margin: 0;
  &::before {
    @include arrow("down");
  }

  &__abc {
    &::before {
      display: none;
    }
    &::after {
      display: block;
    }
  }

  &::after {
    display: block;
    @include arrow("up");
  }

  &__cba {
    &::after {
      display: none;
    }
    &::before {
      display: block;
    }
  }
}

.error {
  color: white;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upBtn {
  opacity: 0.7;
  position: fixed;
  bottom: 5%;
  right: 10%;
  border: 3px solid color.$main-color;
  border-radius: 100%;
  background-color: color.$background-color;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  span {
    display: block;
    margin-top: 4px;
    width: 20px;
    height: 20px;
    border-left: 3px solid color.$main-color;
    border-top: 3px solid color.$main-color;
    transform: rotate(45deg);
  }
}
