body {
  margin: 0;
}
.App {
  height: 100vh;
  overflow-y: scroll;
  background: url(../../assets/bg/1291921.jpg) no-repeat center center;
}

.content {
  padding: 100px;
  max-width: 1040px;
  margin: 0 auto;
  background-color: rgb(6, 14, 31);
}
